@import '../../styles/Variables.module.scss';
.workContainer {
  box-shadow: 0px 0px 4px rgba(37, 37, 37, 0.1);
  border-radius: 5px;
  margin-bottom: 40px;
}
.workInfo {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.workInfoLeft {
  display: flex;
}
.workInfoRight {
  display: flex;
  align-items: center;
}
.workInfoBtn {
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
  border: $orange 1px solid;
  & span {
    color: $orange;
  }
  &:hover {
    cursor: pointer;
    background-color: $orange;
    transition: 200ms ease-in;
    & span {
      color: #f5f5f5;
      transition: 200ms ease-in;
    }
  }
}
.workProfile {
  margin-right: 12px;
  & img {
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 4px rgba(37, 37, 37, 0.1);
    border-radius: 45px;
  }
}
.h2 {
  color: $orange;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
.h3 {
  color: $lightGrey;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.text {
  color: $lightBlack;
  font-size: 16px;
  margin: 0;
}
.workImage {
  box-shadow: 0px 0px 4px rgba(37, 37, 37, 0.1);
  & img {
    max-width: 100%;
    height: auto;
  }
}
.workHow {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  & > div {
    display: flex;
    align-items: center;
    & p {
      margin-left: 10px;
    }
  }
}
.workDesign {
  margin-bottom: 8px;
}
// Buttons
.button {
  border-radius: 3px;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  & span {
    color: #f5f5f5;
  }
}
.design {
  background-color: $orange;
}
.development {
  background-color: $lightGreen;
}
