@import '../../styles/Variables.module.scss';
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  & img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  margin-bottom: 25px;
}
.findMe {
  margin-bottom: 20px;
}
.findMeSpan {
  & span {
    font-size: 32px;
    color: $lightBlack;
  }
  margin-bottom: 20px;
}
.socialMedia {
  display: flex;
  justify-content: center;
  & > div {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  & svg {
    width: 35px;
  }
}

.talk {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talkSpan {
  & span {
    font-size: 28px;
    color: $lightBlack;
  }
  margin-bottom: 30px;
}
.talkButton {
  & button {
    background: $orange;
    box-shadow: 0px 0px 4px rgba(37, 37, 37, 0.25);
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 20px;
    outline: none;
    &:hover {
      cursor: pointer;
      transition: 200ms ease-in;
      background: $orangeHover;
    }
  }
}
