@import '../../../styles/Variables.module.scss';

.footer {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(37, 37, 37, 0.25);
  position: fixed;
  height: 50px;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  border-radius: 4px;
  & > a {
    &:hover {
      cursor: pointer;
      & svg {
        transition: 200ms ease-in;
        fill: $lightBlack;
        color: $lightBlack;
      }
    }
  }
  & svg {
    width: 32px;
    fill: $lightGreyHover;
    color: $lightGreyHover;
  }
}

.active {
  & svg {
    transition: 200ms ease-in;
    fill: $lightBlack;
    color: $lightBlack;
  }
}
