@import '../../styles/Variables.module.scss';
.title {
  display: flex;
  margin-bottom: 30px;
}
.image {
  margin-right: 12px;
  & img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
}
.titleContent {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}
.h1 {
  color: $darkOrange;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.h2 {
  color: $lightBlack;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
.h3 {
  color: $lightBlack;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
.h4 {
  color: $orange;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  margin: 0;
}
.h5 {
  color: $lightOrange;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.text {
  color: $lightBlack;
  font-size: 18px;
  margin: 0;
}
.cofound {
  color: $lightGrey;
  &:hover {
    cursor: pointer;
    transition: 100ms ease-in;
    color: $darkOrange;
  }
  &[data-tooltip] {
    position: relative;
    &::after {
      position: absolute;
      width: max-content;
      left: calc(50% - 90px);
      z-index: 100;
      bottom: 125%;
      text-align: center;
      box-sizing: border-box;
      color: #ffffff;
      background: $lightOrange;
      padding: 8px;
      border-radius: 8px;
      font-size: 0.9em;
      font-weight: bold;
      content: attr(data-tooltip);
      visibility: hidden;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s, transform 0.2s;
    }
    &:hover::after {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.aboutMeTitle {
  margin-bottom: 8px;
}
.aboutMe {
  margin-bottom: 30px;
}
.knowledgeTitle {
  margin-bottom: 8px;
}
.knowledgeContainer {
  margin-bottom: 16px;
}
.knowContainerTitle {
  margin-bottom: 6px;
}
