@import '../../../styles/Variables.module.scss';

.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: 50px;
  box-shadow: 0px 0px 4px rgba(37, 37, 37, 0.25);
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.logo {
  margin: 0 $xs;
  color: $lightBlack;

  font-size: 22px;
}
