@import url('https://fonts.googleapis.com/css2?family=Raleway');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  background: rgb(254, 254, 254);
  height: 100vh;
  margin: 0px auto;
  max-width: 500px;
  overscroll-behavior: none;
  overflow: overlay;
  width: 100%;
}

#__next {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 10px;
}

#__webContainer {
  margin: 90px 20px;
}
button {
  border: none;
  font-family: 'Raleway', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
