// Colores
$lightBlack: #5b5b5b;
$lightGrey: #a5a5a5;
$lightGreyHover: #afafaf;
$darkOrange: #fc6d26;
$orange: #fc9d7f;
$lightOrange: #f3ad97;
$orangeHover: #f5805c;
$lightGreen: #6bc5cb;

// Margen
$xs: 20px;
